 <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">

  <tbody>
    <tr>
      <td style="vertical-align: top; background-color: rgb(255, 153, 255);"><span style="color: rgb(204, 51, 204); font-family: Helvetica,Arial,sans-serif; font-weight: bold;">Add Comment</span><br>
      </td>
      <td style="vertical-align: top;">
      	<% form_for(@comment,:remote=>true) do |f| %>
Comment:<br>
		<%= f.text_area :comment, :rows=>5 %>
		<%= f.hidden_field :page_id, :value=>@page.id %>
		<%= f.submit %>
		<%end%>
      <br>
      </td>
    </tr>
     <% @comments.each_with_index do |comment| %>
	<tr>
      <td style="vertical-align: top; background-color: rgb(255, 153, 255);">
      	<big style="font-family: Helvetica,Arial,sans-serif; color: rgb(204, 51, 204);">
      		<%= #comment.user.name
       %></big><br>
      </td>
      <td style="vertical-align: top;"><%= comment.comment %><br>
      </td>
    </tr>
     <%end%>
        </div>
  </tbody>
</table>
<div style="text-align: right;"><%= will_paginate @comments, :remote=>true %></div>
