<!DOCTYPE html>
<html>
<head>
  <title>Click N' Slide-The Ruby Comic Book Manager</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tag %>
</head>
<body>
<div><%= image_tag("/images/logo.png")%></div>
<div class="mainmenubar"><%= link_to_user_menu %></div>
<%= yield %>

</body>
</html>
